.header {
  height: 34vw;
  margin: 30px auto;
  background: url("/../../header_img.png") no-repeat;
  background-size: contain;
  position: relative;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  left: 6vw;
  bottom: 10%;
  animation: fadeIn 3s;
}

.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}

.header-contents p {
  color: white;
  font-size: 1vw;
}

@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
    padding-bottom: 35px;
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 65%;
    padding-bottom: 5px;
  }

  .header-contents p {
    font-size: 8px;
  }
}
